# Firebase Configuration
FIREBASE_API_KEY=your_api_key
FIREBASE_SERVICE_ACCOUNT_KEY=config/firebase_credentials.json
FIREBASE_PROJECT_ID=your_project_id

# App Configuration
APP_NAME=AirSense
REFRESH_INTERVAL_SECONDS=60
MOCK_MODE=false
